/* screen - kindle-vella-pricing */

.kindle-vella-pricing {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3464px;
  width: 1548px;
}

.kindle-vella-pricing .front_mask_img {
  height: 1196px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: -8px;
  width: 1548px;
  z-index: 5;
}

.kindle-vella-pricing .overlap-group {
  height: 2977px;
  margin-left: 560px;
  margin-top: 127px;
  position: relative;
  width: 428px;
  z-index: 1;
}

.kindle-vella-pricing .text_pricing_list {
  height: 2672px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 305px;
  width: 386px;
}

.kindle-vella-pricing .episode2_list {
  height: 22px;
  left: 174px;
  object-fit: cover;
  position: absolute;
  top: 184px;
  width: 80px;
}

.kindle-vella-pricing .title_pricing_list {
  height: 31px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 212px;
  width: 86px;
}

.kindle-vella-pricing .screen {
  height: 926px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 428px;
}

.kindle-vella-pricing .home_button {
  cursor: pointer;
  height: 59px;
  left: 572px;
  object-fit: cover;
  position: fixed;
  top: 966px;
  width: 68px;
  z-index: 3;
}

.kindle-vella-pricing .read_ep3_button {
  cursor: pointer;
  height: 49px;
  left: 581px;
  object-fit: cover;
  position: fixed;
  top: 889px;
  width: 324px;
  z-index: 2;
}

.kindle-vella-pricing .gbk_logo_img {
  height: 41px;
  left: 1350px;
  object-fit: cover;
  position: fixed;
  top: 1089px;
  width: 116px;
  z-index: 6;
}
